
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item:hover::after,
.nav-item.active::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: gray;
  transform-origin: bottom left;
  transition: transform 0.4s ease-out;
}

.nav-item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: gray;
  transform-origin: bottom right; /* Changed this */
  transition: transform 0.4s ease-out; /* Added this */
}

body {
  transition: background 2s;
}

.contentContainer {
  background-color: white;
  z-index: 1;
  position: relative;
}


